
body{
  margin-top: 0;
  margin-left: 0;

background-image: url(../images/im-1.jpg);
}
.container-fluid{
  position: absolute;
  width: 85%;
  height: 85%;
margin-left: 6rem;
margin-top: 0;
background-color: #e056fd;
background-image: linear-gradient(315deg, #e056fd 0%, #000000 74%);


}
.d-2{
  position: absolute;
  width: 85%;
  height: 85%;
margin-left: 5.5rem;
margin-top: 2.5rem;
background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);

}

.d-3{
  position: absolute;
  width: 85%;
  height: 85%;
margin-left: 5rem;
margin-top: 2rem;
background-color: #7a7adb;
background-image: linear-gradient(315deg, #7a7adb 0%, #170e13 74%);

}

.d-4{
  position: absolute;
  width: 85%;
  height: 85%;
margin-left: 4.5rem;
margin-top: 1.5rem;

background-image: url(../images/im-1.jpg);

}

img{
width: 13rem;
height: 14rem;
margin-top: 2rem;
margin-left: 2rem;
transform: skewY(170deg);
box-shadow:
 0 0 60px 30px #fff;  /* inner white */


}



.glow {
  padding-top: 1rem;
margin-top: 0;
margin-bottom: 0;
  text-align: center;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  color: #fff;


  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4834d4, 0 0 40px #4834d4, 0 0 50px #4834d4, 0 0 60px #4834d4, 0 0 70px #4834d4;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4834d4, 0 0 40px #4834d4, 0 0 50px #4834d4, 0 0 60px #4834d4, 0 0 70px #4834d4, 0 0 80px #4834d4;
  }
}
.d-5{
  position: absolute;
  top: 2rem;
padding-top: 0;

color: #fff;
margin-top: 0;
margin-bottom: 0;
margin-left: 17rem;

}
.d-6{
position: absolute;
  width: 100%;
top: 15rem;

}
